AuthType Basic
AuthName catsonly 

#AuthBasicProvider external
#AuthExternal pwauth

Authtype CAS
CASCookie CECS_AUTH_CAS
CASSecureCookie CECS_AUTH_CAS_S
CASGatewayCookie CECS_AUTH_CAS_G
CASScope /


SSLRequireSSL

GroupExternal groupcheck
require group cat

<Files ~ "\.inc$">
    Order allow,deny
    Deny from all
</Files>

