AuthType Basic
AuthName catsonly 

Authtype CAS
CASCookie CECS_AUTH_CAS
CASSecureCookie CECS_AUTH_CAS_S
CASGatewayCookie CECS_AUTH_CAS_G
CASScope /


SSLRequireSSL

GroupExternal groupcheck
<IfVersion < 2.4>
    Require group cat
</IfVersion>
<IfVersion >= 2.4>
    Require external-group cat
</IfVersion>

<Files ~ "\.inc$">
    Order allow,deny
    Deny from all
</Files>

