AuthType Basic
AuthName catsonly 
AuthBasicProvider external
AuthExternal pwauth
SSLRequireSSL
GroupExternal groupcheck
require group cat

<Files ~ "\.inc$">
    Order allow,deny
    Deny from all
</Files>
