body {
	background-color: #000000;
	color: #FFFFFF;
}

table {
	width: auto;
	margin-left: auto;
	margin-right: auto;
	background-color: #003300;
	border-collapse: collapse;
	border: 1px solid;
	empty-cells: show;
}

th {
	font-family: Arial, sans-serif;
	font-size: 14px;
	padding: 5px;
	text-align: center;
	border: 1px solid;
}

td {
	font-family: Arial, sans-serif;
	font-size: 10px;
	border: 1px solid;
	padding: 3px;
}

#page-container {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#content {
	min-height: 350px;
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: #000033;
}

#top-nav {
	height: 40px;
	background-color: #663300;
}

.master-schedule-table {

}

.data .master-schedule-table {
	width: 250px;
	font-size: 1em;
}

.hour-key .master-schedule-table {
	text-align: center;
	font-size: 1.25em;
}

#cal-buttons {
	text-align: center;
}

.cal_month {
	font-family: Georgia, Times New Roman, serif;
	text-align: center;
	font-size: 1.25em;
}

.cell_label {
	text-align: left;
	vertical-align: top;
	font-size: 12px;
	padding: 1px;
}

.shifts {
	text-align: center;
}

.shift_dh {
	color: #0099ff;
}

.shift_kn {
	color: #009933;
}

